@model CinemaPiersic.Models.Filme

@{
    ViewBag.Title = "Details";
}

<h2>Detalii</h2>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regizor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Premiera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Premiera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Finala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Finala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.FilmeID }) |
    @Html.ActionLink("Inapoi la filme", "Index")
</p>
